# Dependencias
node_modules/
.pnp.*

# Build
dist/
.next/
out/

# Coverage & tests
coverage/
*.lcov

# Environment
.env
.env.local
.env.*.local

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate*
infra/terraform/terraform.tfvars
infra/terraform/.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log
